* {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	justify-content: center;
	overflow: hidden;
}

canvas {
	border: 2px solid grey;
}
